@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  /* This won't be included in your compiled CSS unless you actually use it */
  /* .radial-gradient{
    height: 1124px;
    margin: 20px;
    background: radial-gradient(circle 500px, #055D70, #00000000 );
 

  } */
 
  /* .desktop-radial-gradient{
    height: 800px;
    margin: 0px;
    background: radial-gradient(circle 400px, #055D70, #00000000 );
    position: absolute;
    opacity: 72%;
    top: -54%;
    right: 36%;
   overflow-y: scroll;
  }
  .SizeDesktopOTPfield{
    height: 2.5rem;
    width: 2.5rem;
  } */
  *::-webkit-scrollbar {
    width: 0;
  }

  
}
